---
layout: index.njk
showHeader: true
title: Progress
Path: "../../../assets/images/"
FilePath: "../../../"
---

{% set progressData = [ { value: "18/30", description: "Total Lessons
Completed", image: "progress-icon-1.png" }, { value: "12", description:
"Practice Sessions Completed", image: "progress-icon-2.png" }, { value: "78%",
description: "Average Score", image: "progress-icon-3.png" }, { value: "12h
45m", description: "Time Spent", image: "progress-icon-4.png" } ] %}

<section
  class="twg-flex-1 twg-pt-5 twg-flex twg-h-full max-lg:twg-flex-col max-lg:twg-overflow-y-auto max-lg:twg-px-4 max-lg:twg-space-y-6 max-lg:twg-pb-5 twg-relative twg-main-content-section"
>
  {% set activeNavLink = "Progress Tracker" %} {% include "sidebar.njk" %}
  <div
    class="twg-main-wrapper-content lg:twg-flex-1 lg:twg-overflow-y-auto lg:twg-px-5 max-lg:!twg-mt-0"
  >
    <h1 class="main-heading">Your Progress</h1>
    <div>
      <h4
        class="lg:twg-text-20px max-lg:twg-text-18px twg-text-primary-100 twg-uppercase twg-font-medium twg-mt-6px twg-mb-2"
      >
        Track your learning journey and accomplishments.
      </h4>
      <div
        class="twg-grid mm-xs-md:twg-grid-cols-2 mm-md-2xl:twg-grid-cols-4 2xl:twg-grid-cols-5 lg:twg-gap-5 max-lg:twg-gap-4"
      >
        {% for item in progressData %}
        <div
          class="twg-border twg-h-full twg-border-dark-100/30 twg-rounded-10px twg-custom-shadow lg:twg-p-20px max-lg:twg-p-15px twg-flex twg-flex-col twg-justify-center"
        >
          <img
            src="{{ Path }}{{ item.image }}"
            class="twg-size-30px twg-object-contain twg-mb-5"
            alt=""
          />
          <p
            class="lg:twg-text-20px max-lg:twg-text-18px twg-text-primary-100 twg-uppercase twg-font-bold twg-leading-none twg-mb-1"
          >
            {{ item.value }}
          </p>
          <p class="lg:twg-text-16px max-lg:twg-text-14px twg-text-light-500">
            {{ item.description }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="lg:twg-mt-7 max-lg:twg-mt-5">
      <h4
        class="lg:twg-text-20px max-lg:twg-text-18px twg-text-primary-100 twg-uppercase twg-font-medium twg-mt-6px twg-mb-2"
      >
        Progress over Time
      </h4>
      <div
        class="twg-border twg-h-full twg-border-dark-100/30 twg-rounded-10px twg-custom-shadow lg:twg-p-20px max-lg:twg-p-15px twg-flex twg-flex-col twg-justify-center twg-mb-7px"
      >
        <div
          class="twg-flex md:twg-items-center md:twg-justify-between max-md:twg-gap-2 max-md:twg-flex-col"
        >
          <div class="twg-flex twg-items-center twg-gap-4">
            <h3
              class="lg:twg-text-20px max-lg:twg-text-18px twg-text-dark-100 twg-uppercase twg-font-medium"
            >
              Practice Zone
            </h3>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="8" cy="8" r="8" fill="black" />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.30469 5.24219C9.42969 5.02344 9.5 4.76953 9.5 4.5C9.5 3.67188 8.82812 3 8 3C7.17188 3 6.5 3.67188 6.5 4.5C6.5 5.32812 7.17188 6 8 6C8.55859 6 9.04688 5.69531 9.30469 5.24219ZM7 7H7.5H8.5C9.05273 7 9.5 7.44727 9.5 8V9V13C9.5 13.5527 9.05273 14 8.5 14C7.94727 14 7.5 13.5527 7.5 13V9.75C7.5 9.33594 7.16406 9 6.75 9C6.33594 9 6 8.66406 6 8.25V8C6 7.64844 6.18164 7.33789 6.45508 7.16016C6.61133 7.05859 6.79883 7 7 7Z"
                fill="white"
              />
            </svg>
          </div>
          <div
            class="twg-flex twg-items-center md:twg-justify-end max-md:twg-flex-wrap twg-gap-10px"
          >
            <div class="twg-relative select-container">
              <select
                class="twg-text-15px twg-font-normal twg-rounded-10px twg-border !twg-border-light-800 twg-text-light-500 !twg-ring-0 !twg-outline-none twg-leading-[17px] twg-h-37px twg-w-89px twg-custom-shadow"
              >
                <option
                  value="Score"
                  class="twg-text-14px twg-text-dark-100"
                  selected
                >
                  Score
                </option>
                <option
                  value="profile1"
                  class="twg-text-14px twg-text-dark-100"
                >
                  Profile 1
                </option>
                <option
                  value="profile2"
                  class="twg-text-14px twg-text-dark-100"
                >
                  Profile 2
                </option>
                <option
                  value="profile3"
                  class="twg-text-14px twg-text-dark-100"
                >
                  Profile 3
                </option>
              </select>
            </div>
            <div class="twg-relative select-container">
              <select
                class="twg-text-15px twg-font-normal twg-rounded-10px twg-border !twg-border-light-800 twg-text-light-500 !twg-ring-0 !twg-outline-none twg-leading-[17px] twg-h-37px twg-w-133px twg-custom-shadow"
              >
                <option
                  value="Last 7 Days"
                  class="twg-text-14px twg-text-dark-100"
                  selected
                >
                  Last 7 Days
                </option>
                <option
                  value="profile1"
                  class="twg-text-14px twg-text-dark-100"
                >
                  Profile 1
                </option>
                <option
                  value="profile2"
                  class="twg-text-14px twg-text-dark-100"
                >
                  Profile 2
                </option>
                <option
                  value="profile3"
                  class="twg-text-14px twg-text-dark-100"
                >
                  Profile 3
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="twg-space-y-2">
          <h4
            class="lg:twg-text-18px max-lg:twg-text-18px twg-mt-2 twg-text-light-500"
          >
            Friday, 21 April
          </h4>
          <div class="twg-flex twg-gap-2 twg-pb-5">
            <div class="twg-flex twg-items-end twg-gap-1">
              <h3
                class="lg:twg-text-42px max-lg:twg-text-30px twg-font-semibold twg-text-primary-100 twg-leading-none"
              >
                13
              </h3>
              <h4
                class="lg:twg-text-24px max-lg:twg-text-20px twg-font-medium twg-text-light-500 twg-leading-[1.1]"
              >
                h
              </h4>
            </div>
            <div class="twg-flex twg-items-end twg-gap-1">
              <h3
                class="lg:twg-text-42px max-lg:twg-text-30px twg-font-semibold twg-text-primary-100 twg-leading-none"
              >
                8
              </h3>
              <h4
                class="lg:twg-text-24px max-lg:twg-text-20px twg-font-medium twg-text-light-500 twg-leading-[1.1]"
              >
                m
              </h4>
            </div>
          </div>
        </div>
        <div class="twg-w-full">
          <canvas
            id="weeklyChart"
            class="!twg-object-contain !twg-h-203px !twg-w-full"
          ></canvas>
        </div>
        <div
          class="sm:twg-max-w-440px twg-w-full twg-flex sm:twg-justify-between max-sm:twg-flex-col twg-py-5 max-sm:twg-gap-3"
        >
          {% set data = [ { title: "Score", background: "twg-bg-primary-100",
          value: "500M", details: [ { time: "8", unit: "h" }, { time: "38",
          unit: "m /user" } ] }, { title: "Lesson", background:
          "twg-bg-secondary-100", value: "300M", details: [ { time: "1", unit:
          "h" }, { time: "32", unit: "m /user" } ] }, { title: "Time",
          background: "twg-bg-secondary-200", value: "400M", details: [ { time:
          "2", unit: "h" }, { time: "58", unit: "m /user" } ] } ] %} {% for item
          in data %}
          <div class="twg-w-fit">
            <div class="twg-space-y-2">
              <h4
                class="lg:twg-text-16px max-lg:twg-text-14px twg-text-light-500 twg-flex twg-items-center twg-gap-1"
              >
                <span
                  class="twg-size-10px twg-rounded-full {{ item.background }}"
                ></span>
                <span>{{ item.title }}</span>
              </h4>
              <h3
                class="lg:twg-text-30px max-lg:twg-text-26px twg-font-semibold twg-text-primary-100 twg-leading-none"
              >
                {{ item.value }}
              </h3>
              <div class="twg-flex twg-gap-2">
                {% for detail in item.details %}
                <div class="twg-flex twg-items-end twg-gap-1">
                  <h3
                    class="lg:twg-text-22px max-lg:twg-text-19px twg-font-semibold twg-text-primary-100 twg-leading-none"
                  >
                    {{ detail.time }}
                  </h3>
                  <h4
                    class="lg:twg-text-16px max-lg:twg-text-14px twg-text-light-500 twg-leading-none"
                  >
                    {{ detail.unit }}
                  </h4>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- <div class="twg-w-fit">
            <div class="twg-space-y-2">
              <h4
                class="lg:twg-text-16px max-lg:twg-text-14px twg-mt-2 twg-text-light-500 twg-flex twg-items-center twg-gap-1"
              >
                <span
                  class="twg-size-10px twg-rounded-full twg-bg-primary-100"
                ></span>
                <span>Score</span>
              </h4>
              <h3
                class="lg:twg-text-30px max-lg:twg-text-26px twg-font-semibold twg-text-primary-100 twg-leading-none"
              >
                500M
              </h3>
              <div class="twg-flex twg-gap-2 twg-pb-5">
                <div class="twg-flex twg-items-end twg-gap-1">
                  <h3
                    class="lg:twg-text-22px max-lg:twg-text-19px twg-font-semibold twg-text-primary-100 twg-leading-none"
                  >
                    8
                  </h3>
                  <h4
                    class="lg:twg-text-16px max-lg:twg-text-14px twg-text-light-500 twg-leading-none"
                  >
                    h
                  </h4>
                </div>
                <div class="twg-flex twg-items-end twg-gap-1">
                  <h3
                    class="lg:twg-text-22px max-lg:twg-text-19px twg-font-semibold twg-text-primary-100 twg-leading-none"
                  >
                    38
                  </h3>
                  <h4
                    class="lg:twg-text-16px max-lg:twg-text-14px twg-text-light-500 twg-leading-none"
                  >
                    m /user
                  </h4>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="twg-w-full">
          <canvas id="stackedBarChart" class="!twg-object-contain !twg-h-217px !twg-w-full"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
