<div class="twg-relative twg-w-full">
  <label
    for="schedule_lesson_additional_details"
    class="twg-text-12px twg-text-neutral-700 twg-font-semibold twg-mb-3px twg-block"
    >Additional Notes</label
  >
  <textarea
    class="twg-text-10px twg-font-semibold twg-rounded-10px twg-border !twg-border-light-800/60 twg-text-dark-100 !twg-ring-0 !twg-outline-none !twg-shadow-none twg-leading-[17px] twg-w-full twg-resize-none"
    rows="5"
    name="schedule_lesson_additional_details"
    id="schedule_lesson_additional_details"
  ></textarea>
</div>
