<div
  class="twg-rounded-10px twg-bg-light-400 lg:twg-p-5 max-lg:twg-p-3 lg:twg-gap-5 max-lg:twg-gap-3"
>
  <div class="twg-relative lg:twg-space-y-3 max-lg:twg-space-y-4">
    <div class="twg-flex twg-items-center twg-justify-between twg-gap-3">
      <div class="twg-flex twg-items-center lg:twg-gap-3 max-lg:twg-gap-1">
        <div class="twg-relative">
          <div
            class="twg-size-48px twg-rounded-full twg-border twg-border-primary-100 twg-bg-primary-100"
          >
            <img
              src="{{ Path }}profile-schedule-img.png"
              class="twg-size-full"
              alt="Profile"
            />
          </div>
          <span
            class="twg-absolute twg-bottom-0 twg-right-2px twg-size-13px twg-bg-success-400 twg-rounded-full"
          ></span>
        </div>
        <div class="twg-space-y-0 twg-text-left">
          <h4 class="lg:twg-text-18px max-lg:twg-text-16px twg-text-dark-100">
            Mr. John Smith
          </h4>
          <p class="twg-text-13px twg-text-light-300">Mathematics</p>
        </div>
      </div>
      <img src="{{ Path }}stars-img.svg" class="twg-mt-auto" alt="" />
    </div>
    <div
      class="twg-flex lg:twg-items-center twg-justify-between twg-gap-3 max-lg:twg-flex-col"
    >
      <h4 class="lg:twg-text-14px max-lg:twg-text-13px twg-text-dark-100">
        Thursday, October 31
      </h4>
      <h4 class="lg:twg-text-14px max-lg:twg-text-13px twg-text-dark-100">
        3:00 PM - 3:30 PM
      </h4>
    </div>
    <!-- <img src="{{ Path }}stars-img.svg" class="lg:twg-hidden" alt="" /> -->
  </div>
</div>
